@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply bg-main;
    scroll-behavior: smooth;
  }

  .name {
    @apply text-white text-6xl font-bold;
  }

  .navbar {
    @apply fixed top-4 left-1/2 transform -translate-x-1/2 w-full max-w-6xl bg-white shadow-md p-4
    rounded-[24px];
  }

  .section {
    @apply flex flex-col justify-center items-center min-h-screen w-3/4 mx-auto gap-10;
  }

  .id-pic {
    @apply border rounded-[24px] bg-white w-[400px] h-[400px] object-cover;
  }

  .transition-default {
    @apply transition-opacity duration-300 ease-in-out;
  }
  
  @keyframes dropCard {
    0% {
      top: 0;
      opacity: 0;
    }
    100% {
      top: var(--top-position);
      opacity: 1;
    }
  }

  /* General class for all cards with variables */
  .animate-drop-card {
    animation: dropCard var(--animation-duration) ease forwards;
    animation-delay: 1.5s; /* 1-second delay */
  }
}
